/* Reset Start */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
button,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
menu {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Reset End */
a {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
}
.header,
.main-menu,
.tools-menu,
.social-menu,
.aside__item, 
.aside__list,
.aside__subtitle,
.slider,
.slider__slide {
  display: flex;
}
body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.background {
  background-color: #1a1d24;
}
.sticky {
  position: sticky;
  top: 0;
  z-index:;
}
header {
  justify-content: space-between;
  min-height: 89px;
  padding-block: 44px 29px;
  align-items: center;
  margin-inline: auto;
}
.logo {
  width: 88px;
  height: auto;
}
main {
  background-color: #f2f2f2;
}

.ytbIMG {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(178deg)
    brightness(106%) contrast(101%);
}
.tools-menu {
  gap: 50px;
}

.social-menu {
  gap: 26px;
}
.social-menu::before{
  content: "|";
  padding-right: 20px;
  color:gray;
}
.main-menu {
  /* gap: 55px; */
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
}
.main-menu li:not(:last-child):after{
  content: '/';
  padding-inline: 25px;
}
.logo {
  max-width: 100%;
  height: 24px;
}
.tool-icon {
  width: 16px;
  height: 16px;
}
.fbSVG {
  fill: #ffff;
  height: 16px;
}
.wrapper {
  max-inline-size: 1200px;
  margin: 0 auto;
}
.hero-banner {
  position: relative;
  display: flex;
  gap: 30px;
  padding-bottom: 200px;
}
.hero-banner__title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 37px;
}

.hero-banner__data {
  position: absolute;
  bottom: 200px;
  right: 0;
  background-color: #1a1d24;
  max-width: 400px;
  padding-top: 33px;
  padding-left: 29px;
}
.hero-banner__image {
  max-height: 610px;
  max-width: 75%;
  object-fit: cover;
  flex-basis: 74%;
}
.hero-banner__data {
  background-color: #1a1d24;
  position: absolute;
  bottom: 200px;
  right: 0;
  max-width: 400px;
  padding-top: 33px;
  padding-left: 29px;
}
.hero-banner__description {
  color: #a8a8a8;
  font-size: 14px;
  margin-block: 22px;
  line-height: 23px;
}
.aside {
  width: 25%;
}
.aside__item {
  gap: 20px;
  font-family: "Roboto Condensed", sans-serif;
}
.aside__list {
  flex-direction: column;
  gap: 30px;
}
.aside__title {
  margin-bottom: 32px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
}
.aside__subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  margin-bottom: 4px;
}
.aside__date {
  color: #a8a8a8;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.75px;
}

.slider-films {
  position: relative;
  top: -100px;
}
.slider-films__buttons {
  margin-bottom: 34px;
}
.slider-films__button {
  background-color: transparent;
  border: 0;
  color: #b8b8b8;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.1px;
}
.slider-films__button:not(:last-child):after{
  content: '/';
  padding-inline: 15px;
}
.slider-films__button.active{
  color: #ffffff;
}
.slider {
  gap: 20px;
  height: 300px;
}
.slider__slide {
  position: relative;
  align-items: end;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 100%;
}
.slider__slide > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid rgb(255 255 255/0.5);
  border-radius: 50%;
  padding: 15px;
  translate: -50% -50%;
}
.slider__slide:hover > svg {
  border: 2px solid rgb(255 255 255/1);
}
.slider__slide > svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
}
.categories > a{
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-top: 5px;
  font-size: 10px;
  padding-right: 2px;
  text-transform: capitalize;
  color: #bdbdbd;
}

.slider__slide > div {
  padding: 18px;
}
.slide1 {
  background-image: url(images/post-19-copyright-485x598.jpg);
}
.slide2 {
  background-image: url(images/post-20-copyright-485x598.jpg);
}
.slide3 {
  background-image: url(images/post-23-copyright-485x598.jpg);
}
.slide4 {
  background-image: url(images/post-24-copyright-485x598.jpg);
}
.slide5 {
  background-image: url(images/post-23-copyright-485x598.jpg);
}
.samurai-bg {
  background-image:url(images/bg_samurai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}